body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

header {
    background: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
}

/* 头像样式 */
.avatar-container {
    position: absolute;
    top: 20px;
    left: 20px;
}

.custom-background {
    background-image: url('background.jpg'); /* 替换为你的图片链接 */
    background-size: cover; /* 使背景图片覆盖整个页面 */
    background-repeat: no-repeat; /* 防止图片重复 */
    background-position: center; /* 背景图片居中显示 */
    background-attachment: fixed; /* 使背景固定，滚动时不移动 */
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.search-container {
    margin-top: 10px;
}

input[type="text"] {
    padding: 10px;
    width: 300px;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
}

button:hover {
    background-color: #e0e0e0;
}

main {
    padding: 20px;
}

h2 {
    margin-bottom: 10px;
}

.entry-list {
    list-style: none;
    padding: 0;
}

.entry-list li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 5px 0;
    padding: 10px;
}

.entry-list li a {
    text-decoration: none;
    color: #007bff;
}

.entry-list li a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 10px;
    background: #f1f1f1;
    position: relative;
    bottom: 0;
    width: 100%;
}
