/* ------------------------------------------------- Large Screen. 1200 ---------------------------------------------------*/
 @media (min-width: 1400px) and (max-width: 1800px) {
	.bg_style .finasol_menu {
		padding-right: 10px;
	}
	.finasol-header-top {
		padding-right: 150px;
		padding-left: 150px;
	}
	.finasol_nav_area, .trp_nav_area, .transprent-menu .finasol_nav_area {
		padding-right: 60px;
		padding-left: 60px;
	}
	.txbdsinner {
		width: 75.29%;
	}
	.recent-post-text {
		padding-left: 0;
	}
	section.shop_grid_area.sec_padding {
		padding: 115px 30px 65px 30px;
	}
	



}
/* ------------------------------------------------- Large Screen. 1200 ---------------------------------------------------*/
 @media (min-width: 1200px) and (max-width: 1440px) {
	.finasol_nav_area, .trp_nav_area, .transprent-menu .finasol_nav_area {
		padding-left: 30px;
		padding-right: 30px;
	}
	.txbdsinner {
		width: 90.29%;
	}
	.finasol-header-top {
		padding-right: 30px;
		padding-left: 30px;
	}
	.shop_grid_area.sec_padding.shop_page_shop.port_grid.sopage_shop {
		padding: 115px 0 102px 0;
	}
	.margin_left90{
		margin-left: 0;
	}
	.fn_fea_area {
		padding: 60px;
	}
	/* about area css */
	.txbdsvflex {
		display: inherit;
	}
	.ser2_inner .txbdsvflex {
		display: flex;
	}
	.chos_witr {
		padding: 0 30px 0 25px;
	}
	.faq_con {
		padding: 0;
	}
	h2.ptfcolor a{
		font-size: 20px;
	}
	
	
}
/* ------------------------------------------------- Large Screen. 1025 ---------------------------------------------------*/
 @media (min-width: 1025px) and (max-width: 1800px) {
}
/* ------------------------------------------------- Large Screen. 1024 ---------------------------------------------------*/
 @media (min-width: 1024px) and (max-width: 1600px) {
     .ebk_ser_area .txstcolor {
		font-size: 23px;
	}
	
	
	.creative_header_address {
		padding-left: 15px;
	}
	
	
	
	
	
	
}
/* ------------------------------------------------- Laptop Screen 1366 ---------------------------------------------------*/
 @media (min-width: 1170px) and (max-width: 1366px) {
     .em_creative_header:after {
         transform: rotate(-114deg);
    }
     .creative_header_address {
         padding-left: 0;
    }
    /* banner area css */
     .witr_banner_content p {
         width: 70%;
    }
}
/* ------------------------------------------------- Old Desktop :1365-1660 ---------------------------------------------------*/
 @media (min-width: 1365px) and (max-width: 1660px) {
    /* New Top Menu css */
     .all_header_abs {
        /* position: inherit;
         */
    }
     #scrollUp {
         right: 30px;
    }
    /* swiper slider */
     .witr_swiper_area .text-right .witr_slider_thumb {
         left: -95px !important;
    }
     .witr_swiper_height {
         width: 100% !important;
    }
     .w_slider_3 .witr_swiper_height {
         width: 100% !important;
         transform: translateX(-50%) !important;
         left: 15%;
    }
    /*======== slick slider ==========*/
     .witr_ds_content {
         height: 980px !important;
    }
}
/* ------------------------------------------------- Old Desktop :992 ---------------------------------------------------*/
 @media (min-width: 992px) and (max-width: 1364px) {
     .play-overlay{
         top: 50% !important;
         left: 50% !important;
    }
}
/* ------------------------------------------------- Old Desktop :992 ---------------------------------------------------*/
 @media (min-width: 992px) and (max-width: 1199px) {
	.finasol-header-top {
		padding-right: 15px;
		padding-left: 15px;
	}
    .finasol_nav_area, .trp_nav_area, .transprent-menu .finasol_nav_area {
		padding-left: 15px;
		padding-right: 15px;
	}
	.em-quearys-top.msin-menu-search .em-quearys-menu i {
		margin-left: 8px;
	}
	.finasol_menu>ul>li>a {
		margin: 35px 9px;
		font-size: 16px;
	}
	.em_menu_login .dtbtn {
		margin-left: 6px;
	}
	.mini_shop_content {
		margin-left: 6px;
	}
	.em_menu_login .dtbtn {
		padding: 9px 22px;
	}
	.dtbtn {
		font-size: 15px;
		margin-left: 8px;
	}
	.ttin h2, .ttin h3 {
		font-size: 35px !important;
	}
	.txbdscontent p{
		width: 60%;
	}
	/* single blog */
	.shortcode_content {
		font-size: 35px;
	}
	.recent-post-text {
		padding-left: 8px;
	}
	.recent-post-image img {
		margin-top: 8px;
	}
	.recent-post-text span {
		font-size: 15px;
	}
	.blog-left-side>div {
		padding: 35px 15px 35px;
	}
	.recent-post-item {
		padding-bottom: 0;
	}
	.blog_left {
		padding: 85px 25px 70px 30px;
		margin: 0 0 50px 0;
	}
	.blog_witr {
		padding-left: 18px;
	}
	h2.wblogtitle a {
		font-size: 20px;
	}
	.gallery-columns-3 .gallery-item {
		max-width: 31.24%;
	}
	.team_witr .sttwo {
		font-size: 24px !important;
	}
	/* slider area css */
	.swttwo {
		font-size: 60px;
	}
	.swtthree {
		font-size: 60px;
	}
	.txbdsinner {
		height: 700px;
		width: 93.29%;
	}
	.ssttwo {
		font-size: 70px;
	}
	/* feature area css */
	.fn_fea_area {
		padding: 70px 0 0;
	}
	/* about area css */
	.ab_witr_con {
		padding: 0;
	}
	/* service area css */
	.txbdsvflex {
		display: inherit;
	}
	.sp-txbdsvfdrl {
		padding-left: 0;
		padding-top: 10px;
	}
	/* team area css */
	.team_left_con {
		margin-right: -10px;
		padding-top: 15px;
	}
	.team_witr .tts {
		margin-bottom: 20px;
		margin-top: 0;
	}
	.team_inner .sttwo {
		font-size: 23px !important;
	}
	.team_inner img {
		margin-right: 15px;
		width: 40%;
	}
	.team_inner .tts {
		margin-top: 0;
	}
	/* choose area css */
	.chos_witr {
		padding: 0 5px 0 25px;
	}
	.chos_item2 {
		padding: 0 16px 30px 20px;
	}
	.chos_item1 {
		border-width: 0 1px 1px 0;
	}
	.chos_witr .txbdsvtitle {
		font-size: 20px;
	}
	.chos_item4 {
		padding: 0 17px 30px 20px;
	}
	/* skill area css */
	.skill_witr {
		padding: 10px 10px 0 30px;
	}
	.ps1 .witr_content_pslide_text {
		padding: 0 0 15px 0;
	}
	.skil_witr{
		padding: 30px 0 0 0;
	}
	/* counter area css */
	.coun_witr {
		margin: 0;
	}
	/* project area css */
	.witr_pslide4.ps3.ps1 .witr_single_pslide .witr_content_pslide_text {
		display: inherit;
	}
	.p4clmn .ttin p {
		width: 65%;
	}
	.p4clmn .prot_content_inner h2 a {
		font-size: 20px;
	}
	.p4clmn .prot_content_inner h2{
		margin:0;
	}
	.em_plus_port {
		bottom: 10px;
		right: 20px;
	}
	.p4clmn .single_protfolio:hover .prot_content_inner {
		left: 55%;
	}
	.port4clmn .prot_content_inner h2 {
		font-size: 17px;
	}
	.port4clmn .ttin p {
		width: 67%;
	}
	h2.ptfcolor a {
		font-size: 20px;
	}
	.finasol-single-icon a {
		margin: 0 5px 0 0;
	}
	.ps3.ps1 .witr_content_pslide_text {
		padding: 20px 10px 20px 10px;
	}
	/* tab area css */
	.tab_inner .witrlistw.all_list_color {
		margin: 0px -2px 0 0;
	}
	/* test area css */
	.tstitle {
		font-size: 20px;
	}
	.tsimg-mr25 {
		margin-right: 20px;
	}
	.cn_test_area .slick-dots {
		left: 400px;
	}
	/* contact area css */
	.apartment_text h2 {
		font-size: 30px;
	}
	.faq_con {
		padding: 30px 0 0;
	}
	/* faq area css */
	.faq_left {
		padding: 20px 0 0;
	}
	.widget_recent_data .recent-post-image img {
		width: 70px;
	}


}
/* ------------------------------------------------- Tablet Screen : 768 ---------------------------------------------------*/
 @media (min-width: 768px) and (max-width: 991px) {
	.mobile_logo_area {
		padding: 20px 0;
	}
	.ssttwo {
		font-size: 50px;
	}
	.sstthree {
		font-size: 55px;
	}
	.sstone {
		font-size: 22px;
	}
	.txbdsinner p {
		width: 78%;
	}
	.txbdsinner {
		height: 600px;
		width: 93.29%;
	}
	.ttin h2 {
		font-size: 28px !important;
	}
	.ttin h3 {
		font-size:28px !important;
	}
	.top-address p span, .top-address p a {
		margin-right: 5px;
		font-size: 14px;
	}
	.top-address.em-login.text-right.text_s_center.text_m_center {
		text-align: center;
	}
	.brpt.brptsize .brcrumb_title {
		font-size: 30px;
	}
	.creative_header_address {
		padding-left: 0;
	}
	.creative_header_button {
		padding-left: 0;
	}
	.dtbtn{
		font-size: 15px;
		padding: 14.5px 29px;
	}
	.finasol-header-top .justify-content-between {
		justify-content: space-around;
	}
	/* slider css */
	.swttwo {
		font-size: 50px;
	}
	.swtthree {
		font-size: 50px;
	}
	/* feature area css */
	.fn_fea_area {
		padding: 80px 0 0;
	}
	/* about area css */
	.ab_witr_con {
		padding: 0;
	}
	/* contact area css */
	.cont_witr {
		padding: 70px 20px 80px 30px;
	}
	.twr_form_box textarea {
		height: 200px;
	}
	.apartment_text h2 {
		font-size: 24px;
	}
	/* team area css */
	.team_inner .sttwo {
		font-size: 20px !important;
	}
	.witr_siconw ul li a {
		padding: 7px 5px 5px 10px;
	}
	/* blog area css */
	.metashowcp {
		overflow: inherit;
		padding-left: 0;
		width: 100%;
	}
	.witr_carousel_main > div:nth-child(even) .metashowcp {
		padding-right: 0;
		padding-left: 0px;
	}
	.wblogpart {
		display: inherit;
	}
	.wblogthumb {
		width: 100%;
	}
	.all_pslides_color p {
		font-size: 20px;
	}
	.blog_left {
		padding: 85px 40px 70px 30px;
		margin: 0 0 50px 0;
	}
	.blog_witr {
		padding-left: 15px;
	}
	.blog-left-side>div {
		padding: 15px 15px 35px;
	}
	.recent-post-text {
		padding-left: 0;
	}
	.recent-post-text h4 a {
		font-size: 15px;
	}
	/* video area css */
	.witr_all_color_v h2 {
		font-size: 40px;
	}
	/* faq area css */
	.faq_inner {
		padding: 10px 0 107px 15px;
		margin: 0;
	}
	.faq_witr {
		margin: 0 0 0 30px;
	}
	.faq_con {
		padding: 0;
	}
	.faq_left {
		padding: 0;
	}
	/* skill area css */
	.skil_witr {
		padding: 35px 0 0 0;
	}
	/* call area css */
	.chos_item1 {
		border-width: 0 0px 1px 0;
	}
	.chos_witr {
		padding: 0px 30px 0 25px;
	}
	/* portfolio area css */
	.positi_3.pprotfolio4 {
		padding: 8px 10px 10px;
	}
	.port_area .ttin p {
		width: 85%;
	}
	.proj_mrt{
		margin-top: 0;
	}
	.witr_pslide4.ps3.ps1 .witr_content_pslide_text {
		padding: 16px 10px 15px 10px;
		left: 10px;
		right: 10px;
	}
	h2.ptfcolor a {
		font-size: 20px;
	}
	.ps3 .witr_content_pslide_text h2 a {
		font-size: 21px;
	}
	/* single ser css */
	.witr_txwidgetin h2 {
		font-size: 23px;
	}
	.ser2_inner .allcostyle {
		padding: 15px 10px;
	}
	.ser2_inner .txstcolor a {
		font-size: 24px;
	}
	.ser2_inner .iconalltf i {
		font-size: 32px;
		margin-right: 5px;
	}
	/* tab area css */
	.tab_inner .witrlistw.all_list_color {
		margin: 24px -2px 20px 0;
	}
	/* test area css */
	.alltesicl p {
		font-size: 16px;
	}
	
	
	
}
/* ------------------------------------------------- Small Mobile : 320 ---------------------------------------------------*/
 @media (max-width: 767px) {
	.finasol_nav_area.prefix, .hbg2 {
		display: none;
	}
	ol {
		padding-left: 10px;
	}	
	.finasol_header_top_two.top_cr_style1.top_crt_style {
		display: none;
	}
	.mobile_logo_area {
		padding: 10px 0;
	}
	.top-address{
		text-align: center;
	}
	.creative_header_button {
		padding-left: 0;
		text-align: center;
	}
	.single_header_address {
		margin-bottom:10px;
	}
	.finasol-header-top .d-flex {
		justify-content: center !important;
	}
	.breadcumb-area, .breadcumb-blog-area {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.finasol-header-top, .top-right-menu ul .sub-menu {
		background-position: inherit;
		background-size: cover;
	}
	.top-right-menu .social-icons {
		justify-content:center;
	}
	.finasol-header-top {
		padding-right: 0;
		padding-left: 0;
	}
	/* slider area css */
	.ssttwo {
		font-size: 30px;
	}
	.sstone {
		font-size:18px;
	}
	.txbdsinner.allleft {
		text-align: center;
	}
	.fn_slider_area .btnallt {
		margin-top: 25px;
	}
	/* single blog */
	.hackery-single-blog-details-inner {
		padding: 38px 20px 45px;
	}
	.finasol-single-blog-details-inner {
		padding: 38px 25px 45px;
	}
	.block .wp-block-quote.is-large p, .block .wp-block-quote.is-style-large p {
		font-size: 18px;
	}
	.blog-left-side>div {
		padding: 30px 15px 30px;
	}
	.single-widget-item {
		padding: 35px 0 0 15px;
	}
	/* call area css */
	.cal_left_img {
		text-align: center;
		margin-bottom: 15px;
	}
    /* footer bar */
	.footer_s_inner {
		display: inherit;
		text-align: center;
	}
	.finasol-single-icon a {
		margin: 0 4px 0 0;
	}
     .footer-top-inner p {
         width: 100%;
    }
     .footer-menu ul {
         margin: 10px 0 0;
         text-align: center !important;
    }
     .footer-menu ul li a {
         font-size: 14px;
    }
     .copy-right-text p {
         text-align: center;
    }
     .footer-bottom:before {
         width: 100%;
    }
     .breadcumb-blog-area {
         padding: 50px 0;
    }
    /* blog css */
     .em-blog-content-area {
         padding: 20px 10px 5px;
    }
     .finasol-blog-meta-left a, .finasol-blog-meta-left span {
         font-size: 14px;
         margin-right: 3px;
    }
     .finasol-blog-meta-right a, .finasol-blog-meta-right span {
         font-size: 11px;
         margin-left: 3px;
    }
     .witr_ablog_content h2 a{
         font-size: 18px;
    }
	.recent-post-text {
		padding-left: 0;
	}
    /* single blog */
	.finasol-single-blog-details-inner {
		padding: 38px 30px 45px;
	}
	.finasol-single-icon-inner a {
		margin-bottom: 5px;
	}
	.post_reply ul, .blog-content ul, .single-blog-content ul {
         padding-left: 20px;
    }
     .post_reply ol, .blog-content ol, .single-blog-content ol {
         padding-left: 20px;
    }
     .comments-area .children {
         margin-left: 10px;
    }
     .comment_field .input-field {
         width: 100%;
    }
     .pdsr {
         padding-top: 50px;
    }
     #wp-calendar {
         display: block;
    }
	.blog_left {
		padding: 85px 15px 70px 30px;
	}
	.blog_witr {
		padding-left: 15px;
		padding-right: 15px;
	}
    /* footer css */
	.finasol_theme_widget p {
		padding-right: 0;
	}
	.finasol_f_color.finasol_theme_widget > div {
		text-align: center;
	}
	.ft_tpmrb.tts.text-left {
		text-align: center;
	}
	.fot_inner .tts {
		text-align: center;
	}
     .copy-right-text p {
         font-size: 11px;
    }
     .footer-social-icon a i {
         font-size: 16px;
         height: 35px;
         line-height: 35px;
         width: 35px;
    }
    /* footer css */
     .copy-right-text p {
         font-size: 15px;
    }
     .finasol-blog-thumb img {
         width: 100%;
    }
	/* menu list css */
	.menu_list_inner {
	 display: inherit;
	}
     .mobil-item {
         margin-top: 30px;
    }
	.ttin p {
		width: 100% !important;
	}
	.ttit {
		margin: 0 0 -290px 0;
	}
	/* slider area css */
	.allleft .txbdstitle {
		width: 100%;
		margin-top: 0;
	}
	.margin_left90 {
		margin-left: 0;
	}
	.txbdscontent h2 {
		margin-bottom: 0;
	}
	.txbdscontent p {
		font-size: 16px;
	}
	.txbdsinner {
		width:95%;
	}
	.txbdsinner {
		height: 600px;
	}
	.txbdscontent h3 {
		line-height: 38px;
		font-size: 20px;
	}
	.txbdslider .allcostyle {
		margin: 0;
		padding: 0;
		margin-bottom: 0;
	}
	.txbdsinner p {
		width: 100%;
	}
	.ttin .txbdstitle {
		font-size: 21px;
	}
	.ttin .txbdstitle.tsmall {
		font-size: 16px;
	}
	.witr_shape_item_inner {
		display: none;
	}
	/* about area css */
	.txbdsvflex {
		display: inherit;
	}
	.ab_witr_inn {
		margin-top: 20px;
	}
	/* faq area css */
	.faq_left {
		margin-bottom: 30px;
	}
	/* team area css */
	.team_left {
		padding: 0;
	}
	/* pricing plan css */
	.witri_texti_list ul li {
		padding: 0 0 0 15px;
	}
	.tprtit {
		font-size: 17px;
	}
	.tpr_cua .tpr_curn {
		font-size: 27px;
	}
	/* contact area css */
	.map_inner_area iframe {
		height: 440px;
	}
	.twr_form_box textarea {
		height: 200px;
	}
	.apartment_text h2 {
		font-size: 23px;
	}
	/* testimonial area css */
	.tstitle {
		font-size: 20px;
	}
	.alltesicl p {
		font-size: 17px;
	}
	.alltesicl {
		padding: 40px 25px 40px 25px;
	}
	/* video area css */
	.vd_con_inner {
		margin-top: -430px;
		padding: 30px 30px 30px;
	}
	/* skill area css */
	.skil_left img {
		margin-top: 30px;
	}
	.skil_witr {
		padding: 30px 0 0 0;
	}
	.ser2_inner .allcostyle {
		padding: 8px;
		text-align: center;
	}
	.ser2_inner .txstcolor a {
		font-size: 25px;
	}
	/* portfolio css */
	.positi_3.pprotfolio4 {
		padding: 8px 10px 10px;
	}
	.witr_content_pslide_text h2 {
		margin: 0 0 10px;
	}
	.brpt.brptsize .brcrumb_title {
		font-size: 23px;
	}
	.ps1 .witr_content_pslide_text {
		left: 20px;
		right: 20px;
	}
	.ps3.ps1 .witr_content_pslide_text {
		padding: 20px 30px 20px 30px;
	}
	.slick-prev, .slick-next {
		display: none !important;
	}
	h2.ptfcolor a {
		font-size: 20px;
	}
	/* team area css */
	.team_inner {
		text-align: center;
	}
	.team_inner img {
		float: inherit;
		margin-right: 0;
		margin-bottom: 10px;
	}
	.team_inner .ttin{
		text-align: center;
	}
	/* choose area css */
	.chos_witr {
		padding: 90px 15px 0 15px;
	}
	.chos_item1 {
		border-width: 0 0 1px 0;
	}
	/* marquee area css */
	.txmartext .txmartex a, .txmartext .txmartex {
		font-size: 50px;
	}
	/* footer area css */
	.foter_top_inn .allcostyle {
		padding: 0 0 20px 0;
	}
	.foter_top_inn .txbdsvflex {
		display: inherit;
		text-align: center;
	}
	.foter_top_inn .iconalltf i {
		margin-bottom: 10px;
	}
	.witr_siconw {
		margin-top: 15px;
	}
	.finasol-description-area {
		text-align: center;
	}
	.widget_text h2{
		text-align:center;
	}
	.finasol_theme_widget .widget h2 {
		margin-top: 20px;
		margin-bottom: 30px;
	}
	.recent-post-item {
		display: inherit;
	}
	.widget_recent_data .recent-post-image img {
		margin-bottom: 10px;
	}
	/* video area css */
	.witr_all_color_v h2 {
		font-size:0;
	}
	/* area css */
	.witr_shor_posi {
		bottom: 0;
	}
	.witr_shortcode_inner {
		padding: 42px 15px 50px;
		margin-bottom: 100px;
	}
	.shortcode_content {
		font-size: 24px;
	}
	.mc4wp-form-fields input {
		width: 100%;
	}
	/* blog area css */
	.wblogpart {
		display: inherit;
	}
	.wblogthumb{
		width: 100%;
	}
	.metashowcp{
		padding: 15px 15px 24px;
		padding-left: 5px;
		width: 100%;
	}
	.witr_carousel_main > div:nth-child(even) .metashowcp {
		padding-right:0;
		padding-left:0;
	}
	/* counter area css */
	.witr_counter_icon {
		float: inherit;
		margin-bottom: 15px;
	}


	
}
/* ------------------------------------------------- Large Mobile :480px. ---------------------------------------------------*/
 @media only screen and (min-width: 480px) and (max-width: 767px) {
     .em-slider-button {
         display: block;
    }
     .em-nivo-slider-wrapper .nivo-directionNav {
         display: block;
    }
     .em-button-button-area a {
         margin-right: 5px;
         margin-top: 15px;
         padding: 3px 20px;
         font-size: 12px;
    }
	.slider_btn .witr_btn.active {
		margin-left: 15px;
	}
	/* faq area2 css */
	.accordion_area2 .witr_ac_style {
		margin-left: 20px;
	}
    /*=========== banner area 2 css ===============*/
     .banner-content button {
         position: absolute;
    }
    /* portfolio css */
     .portfolio_nav ul li {
         margin: 0 2px 10px;
    }
    /* banner area css */
     .witr_banner_area {
         height: 600px;
    }
     .witr_banner_content.text-right p {
         width: 92%;
         margin:auto;
         font-size:17px;
    }
     .witr_banner_content.text-left p {
         width: 92%;
         margin:auto;
         font-size:17px;
    }
    /* section_title */
     .witr_section_title_inner h1, .witr_section_title_inner h2, .witr_section_title_inner h3 {
         font-size: 25px;
    }
     .witr_section_title_inner.text-center p, .witr_section_title_inner.text-left p, .witr_section_title_inner.text-right p {
         width: 91%;
    }
    /* text_widget css */
     .witr_text_widget_inner p, .about-content span{
         font-size: 14px !important;
    }
    /* blog css */
     .blog-part {
         text-align: center;
    }
    /* Screenshots css */
     .dnSlide-main.done {
         transform: scale(0.7);
         margin-left: -196px;
    }
     .Screenshots-fearm img {
         width: 256% !important;
         max-width: 256% !important;
         left: -98px;
         top: 49px;
    }
    .finasol-header-top {
		display: block;
		text-align: center;
	}
	.top-right-menu {
		text-align: center;
	}

}
/* menu and logo show & hide */
 @media (min-width: 10px) and (max-width: 991px){
     .mobile-menu{
         display:block !important;
    }
     .mobile_logo_area{
         display:block !important;
    }
     .finasol-main-menu{
         display:none !important;
    }
     .d_md_none{
         display:none !important;
    }
     .em-feature {
         margin-bottom: 20px;
    }
     .single_counter {
         margin-bottom: 20px;
    }
}
 @media (min-width: 10px) and (max-width: 991px){
     .text_m_right{
         text-align:right !important;
    }
     .text_m_left{
         text-align:right !important;
    }
     .menu_18.top-address p span {
         font-size: 13px;
    }
     .footer-top-inner p {
         width: 85%;
    }
     .witr_joined .witr_con_btn2 .w_btn2 {
         position: inherit;
         width: 100%;
    }
}

 @media (min-width: 570px) and (max-width: 767px){
     .text_s_center{
         text-align:center !important;
    }
     .text_s_right{
         text-align:right !important;
    }
     .text_s_left{
         text-align:right !important;
    }
     .footer-top-inner p {
         width: 95%;
    }
}
 @media (min-width: 10px) and (max-width: 570px){

 
 
}
 